.nbd-main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  padding: 0 15px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  @media screen and (max-width: 767px){
    padding: 0;
    z-index: 100000003;
  }
  .logo{
    img{
      height: 28px;
    }
    @media screen and (max-width: 767px){
        display: none;
    }
  }

  .menu-mobile{
    font-size: 40px;
    display: none;
    &.icon-nbd-menu {
      padding-left: 10px;
    }
    @media screen and (max-width: 767px){
        display: inline-block;
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-bottom: 0;

    &.menu-left{
      @media screen and (max-width: 767px){
        display: none;
        width: 100%;
        background-color: $main-color;
        .menu-item {
          padding: 19px 15px;
        }
        span{
          color: #fff;
        }
        .sub-menu {
          span{
            color: #333;
          }
        }

      }
      .sub-menu {
        ul{
          flex-wrap: wrap;
          margin: 10px 0;
          li{
            &:hover{
              background-color: $menu-hover-color;
            }
          }
        }
      }
      .item-view {
        .sub-menu{
          padding: 10px 0;
          li{
            align-items: center;
            &:hover{
              background-color: $menu-hover-color;
            }
          }
        }
      }
    }
    &.menu-center{
      margin: auto;
      li{
        &.menu-item{
          opacity: .5;

          &.in{
            opacity: 1;
          }
          padding: 0 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          i.icon-nbd{
            margin-bottom: 4px;
            font-size: 18px;
          }
          span{
            line-height: 13px;
            font-size: 13px;
          }
        }
      }
    }
    &.menu-right{
      .menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
        i.icon-nbd{
          font-size: 16px;
          color: #666;
          margin-right: 5px;
        }
        &.item-process{
          @media screen and (max-width: 767px){
            background-color: $main-color;
            border:  2px;
            padding: 12px;
            span, i{
              color: #fff;
            }
            i{
              display: none;
            }
            .sub-menu{
              span, i{
                color: #333;
              }
            }
          }
          .sub-menu {
            min-width: 320px;
            @media screen and (max-width: 768px){
                min-width: 250px;
            }
            .sub-header {
              padding: 20px 10px;
              font-weight: 500;
              position: relative;
              border-bottom: 1px solid #ebebeb;
              i{
                position: absolute;
                top: 19px;
                right: 10px;
              }
            }

            .sub-body {
              padding: 20px 10px;
              border-bottom: 1px solid #ebebeb;
              .process-select {
                background: transparent;
                cursor: pointer;
                border-radius: 2px;
                border: 1px solid #ebebeb;
                font-size: 14px;
                line-height: 2.78572;
                outline: 0;
                padding: 5px 30px 5px 10px;
                transition: background .4s ease;
                width: 100%;
              }
            }
            .sub-footer{
              padding: 20px 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              i{
                font-size: 24px;
                border-radius: 50%;
              }
            }

          }
        }
        &.item-title{
          @media screen and (max-width: 767px){
            display: none;
          }
        }
        &.item-share {
          @media screen and (max-width: 767px){
              display: none;
          }
        }
      }
      input.title {
        padding: 5px 10px;
        color: #999;
        border: 1px solid #ebebeb;
        border-radius: 40px;
        outline-color: transparent;
        &:focus{
          border-color: #ccc;
        }
      }
    }

  }
}
