.nbd-sidebar {
  width: 420px;
  height: calc(100vh - 54px);
  position: fixed;
  z-index: 99;
  display: flex;
  .tabs-nav {
    min-height: calc(100vh - 54px);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 75px;
    float: left;
    display: inline-block !important;
    z-index: 3;
    ul.main-tabs {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      float: left;
      display: flex;
      flex-direction: column;
      li.tab {
        float: left;
        padding: 15px 0;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        transition: background 250ms ease;
        text-transform: uppercase;
        margin: 0;
        height: 75px;
        position: relative;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        i {
          display: block;
          font-size: 21px;
          margin-bottom: 5px;
          transition: transform .7s ease-out;
        }
        span {
          font-size: 11px;
          font-weight: 500;
          display: block;
          word-break: break-all;
          text-transform: capitalize;
          transition: transform .7s ease-out;
        }
      }
      li.active {
        i {
          color: #fff;
        }
        span {
          color: #fff;
        }
      }
    }
  }
  .tabs-content {
    width: 345px;
    text-align: center;
    height: calc(100vh - 54px);
    box-sizing: border-box;
    right: 0;
    overflow: hidden;
    position: relative;
    background: #fff;
    > i {
      font-size: 25px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      background-color: red;
      display: none;
    }
    .tab {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.4s;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      //overflow-y: scroll;
      //overflow: auto;
      overflow: hidden;
      &.active {
        display: block;
        z-index: 2;
        opacity: 1;
        visibility: visible;
      }

      &.before {
        transform: translateY(-33%);
      }

      &.after {
        transform: translateY(33%);
      }

    }
  }

  #tab-photo {
    .search {
      margin: 20px 0;
      padding: 0 10px;
      position: relative;
      display: inline-block;
      width: 100%;
      input {
        padding: 5px 35px 5px 10px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        border: 1px solid #ebebeb;
        &:focus {
          border-color: #eee;
        }
      }
      i {
        position: absolute;
        font-size: 21px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .categories {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: relative;

      .category {
        width: 33.33%;
        padding: 10px;
        //margin: 10px;
        position: absolute;
        z-index: 99;
        &:hover {
          i{
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
          }
          p {
            color: #607d8b;
            font-weight: bold;
          }
        }
        &.active {
          i {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
          }
          p {
            color: #607d8b;
            font-weight: bold;
          }
        }

        i{
          padding: 20px;
          font-size: 40px;
          transition: all .3s;
          border: 1px solid #ebebeb;
          border-radius: 5px;
        }
        p {
          margin-top: 5px;
          transition: all .3s;
          font-size: 12px;
          text-transform: capitalize;
        }
      }
    }
    .loading-photo {
      display: none;
      position: absolute;
      z-index: 99;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: 40px;
        margin-bottom: 20px;
      }
    }
    .result-loaded {
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      overflow: hidden;
      &.loaded{
        border-top: 1px solid #ebebeb;
      }
    }
    #nbdesigner-gallery {
      .nbdesigner-item {
        width: 33.33%;
        padding: 2px;
        opacity: 0;
        visibility: hidden;
        &.in-view{
          opacity: 1;
          visibility: visible;
        }

        &:hover{
          .photo-desc{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
       .photo-desc{
         position: absolute;
         opacity: 0;
         visibility: hidden;
         transform: translateY(50%);
         transition: all .2s;
         bottom: 2px;
         left: 2px;
         padding: 2px 10px;
         display: block;
         width: calc(100% - 4px);
         text-align: left;
         background: rgba(0,0,0,0.3);
         color: #fff;
         font-size: 12px;
       }
      }
    }
    .content-category {
      position: relative;
      &.active-expanded {
        .pointer {
          display: block;
        }
      }
      .pointer {
        position: absolute;
        z-index: 2;
        display: none;
        width: 10px;
        bottom: -5px;
        height: 10px;
        margin: 14px 0 0 -8px;
        background-color: #fff;
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: border-color .3s linear;
        transition: border-color .3s linear;
      }
    }

    .info-support {
      position: fixed;
      top: 107px;
      width: 345px;
      left: 75px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 99;
      span, i{
        padding: 3px 10px;
        background: rgba(0,0,0,1);
        color: #fff;
      }
      span {
        margin: auto;
        font-size: 16px;
      }
      i.close-result-loaded {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 6px;
        font-size: 21px;
        padding: 3px 5px;
      }
    }

  }
  #tab-layer{
    .inner-tab-layer {
      padding: 10px 0;
      .menu-layer {
        .menu-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid #ebebeb;
          cursor: move;
          .item-left, .item-center{
            position: relative;
          }
          &.lock-active{
            .item-left, .item-center{
              opacity: 0.2;
              &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
              }
            }
          }
          &:first-child {
            border-top: 1px solid #ebebeb;
          }
          &:hover{
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
          }

          i{
            padding: 5px;
            font-size: 21px;
          }
          .item-right {
            border-radius: 5px;
            i{
              cursor: pointer;
              &[data-active="false"]{
                font-weight: bold;
              }
              &:hover{
                transform: scale(1.1);
                &.icon-close{
                  color: rgba(255, 89, 133, 0.75);
                }
                &.icon-lock{
                  color: #d8dd87;
                }
                &.icon-visibility{
                  color: #607d8b;
                }
              }
            }
          }

          span{
            &.item-center{
              margin-right: auto;
              padding: 0 5px;
              text-transform: capitalize;
              font-size: 16px;

            }
          }

          input{
            border-radius: 5px;
            border: 1px solid #ebebeb;
            padding: 3px 5px;
            outline: none;
            &:focus{
              border-color: #ddd;
            }
          }
          .item-right {
            display: flex;
            justify-content: space-around;
            align-items: center;

          }
        }
      }
    }
  }

}

#selectedTab {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 75px;
  height: 75px;
  background-color: #607d8b;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: transform .4s ease-out;
  -moz-transition: transform .4s ease-out;
  transition: transform .4s ease-out;
}
ul[data-tab="tab-1"] #selectedTab {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
ul[data-tab="tab-2"] #selectedTab {
  -webkit-transform: translateY(75px);
  -moz-transform: translateY(75px);
  transform: translateY(75px);
}
ul[data-tab="tab-3"] #selectedTab {
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  transform: translateY(150px);
}
ul[data-tab="tab-4"] #selectedTab {
  -webkit-transform: translateY(225px);
  -moz-transform: translateY(225px);
  transform: translateY(225px);
}
ul[data-tab="tab-5"] #selectedTab {
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  transform: translateY(300px);
}
ul[data-tab="tab-6"] #selectedTab {
  -webkit-transform: translateY(375px);
  -moz-transform: translateY(375px);
  transform: translateY(375px);
}
ul[data-tab="tab-7"] #selectedTab {
  -webkit-transform: translateY(450px);
  -moz-transform: translateY(450px);
  transform: translateY(450px);
}