.nbd-sidebar {
  width: 420px;
  height: calc(100vh - 54px);
  position: fixed;
  z-index: 99;
  display: flex;
  .tabs-nav {
    min-height: calc(100vh - 54px);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 75px;
    float: left;
    display: inline-block !important;
    z-index: 3;
    ul.main-tabs {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      float: left;
      display: flex;
      flex-direction: column;
      li.tab {
        float: left;
        padding: 15px 0;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        transition: background 250ms ease;
        text-transform: uppercase;
        margin: 0;
        height: 75px;
        position: relative;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        i{
          display: block;
          font-size: 21px;
          margin-bottom: 5px;
          transition: transform .7s ease-out;
        }
        span {
          font-size: 11px;
          font-weight: 500;
          display: block;
          word-break: break-all;
          text-transform: capitalize;
          transition: transform .7s ease-out;
        }
      }
      li.active {
        i{
          color: #fff;
        }
        span{
          color: #fff;
        }
      }
    }
  }
  .tabs-content {
    width: 345px;
    text-align: center;
    height: calc(100vh - 54px);
    box-sizing: border-box;
    right: 0;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    >i {
      font-size: 25px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      background-color: red;
      display: none;
    }
    .tab {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.4s;
      z-index: 1;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      //overflow-y: scroll;
      //overflow: auto;
      overflow: hidden;
      &.active{
        display: block;
        z-index: 2;
        opacity: 1;
        visibility: visible;
      }

      &.before{
        transform: translateY(-33%);
      }

      &.after{
        transform: translateY(33%);
      }

    }
  }


  #tab-photo{
    .search {
      margin: 20px 10px;
      position: relative;
      display: inline-block;
      width: 80%;
      input{
        padding: 5px 35px 5px 10px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        border: 1px solid #ebebeb;
        &:focus{
          border-color: #eee;
        }
      }
      i{
        position: absolute;
        font-size: 21px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .categories {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: relative;

      .category{
        width: 33.33%;
        padding: 10px;
        //margin: 10px;
        position: absolute;
        z-index: 99;
        &:hover{
          img{
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
          }
          p{
            color: #607d8b;
            font-weight: bold;
          }
        }

        &.active{
          img{
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
          }
          p{
            color: #607d8b;
            font-weight: bold;
          }
        }

        img{
          width: 80px;
          transition: all .3s;
        }
        p{
          margin-top: 5px;
          transition: all .3s;
          font-size: 12px;
        }
      }
    }

    .loading-photo {
      display: none;
      img {
        width: 40px;
        margin-bottom: 20px;
      }
    }
    .result-loaded {
      position: static;
      border-top: 1px solid #ebebeb;
      padding-top: 20px;
      padding-bottom: 20px;
      overflow: hidden;
    }
    #nbdesigner-gallery{
      .nbdesigner-item {
        width: 33.33%;
      }
      .nbdesigner-item-2{
        width: 66.67%;
      }
    }
    .content-category{
      position: relative;
      &.active-expanded{
        .pointer{
          display: block;
        }
      }
      .pointer{
        position: absolute;
        z-index: 2;
        display: none;
        width: 10px;
        bottom: -5px;
        height: 10px;
        margin: 14px 0 0 -8px;
        background-color: #fff;
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: border-color .3s linear;
        transition: border-color .3s linear;
      }
    }

  }
}

#selectedTab {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 75px;
  height: 75px;
  background-color: #607d8b;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: transform .4s ease-out;
  -moz-transition: transform .4s ease-out;
  transition: transform .4s ease-out;
}
ul[data-tab="tab-1"] #selectedTab {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
ul[data-tab="tab-2"] #selectedTab {
  -webkit-transform: translateY(75px);
  -moz-transform: translateY(75px);
  transform: translateY(75px);
}
ul[data-tab="tab-3"] #selectedTab {
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  transform: translateY(150px);
}
ul[data-tab="tab-4"] #selectedTab {
  -webkit-transform: translateY(225px);
  -moz-transform: translateY(225px);
  transform: translateY(225px);
}
ul[data-tab="tab-5"] #selectedTab {
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  transform: translateY(300px);
}
ul[data-tab="tab-6"] #selectedTab {
  -webkit-transform: translateY(375px);
  -moz-transform: translateY(375px);
  transform: translateY(375px);
}
ul[data-tab="tab-7"] #selectedTab {
  -webkit-transform: translateY(450px);
  -moz-transform: translateY(450px);
  transform: translateY(450px);
}