.nbd-toolbar {
  background: #fff;
  width: calc(100% - 420px);
  position: fixed;
  box-sizing: border-box;
  color: #3f4652;
  left: 420px;
  top: 54px;
  white-space: nowrap;
  height: 50px;
  z-index: 99;
  .main-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 24px 0 10px;
    &.overflow-hidden {
      @media screen and (max-width: 767px){
        overflow: hidden;
      }
    }
    @media screen and (max-width: 767px){
      overflow-x: auto;
      overflow-y: hidden;
    }
    li.menu-item{
      @media screen and (max-width: 767px){
        position: static;
        .sub-menu{
          left: 50%;
          top: 60px;
          transform: translateX(-50%);
          &:before, &:after{
            display: none;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &.item-color-fill {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 5px;
        margin: 0 5px;
      }
    }

  }
  @media screen and (max-width: 1023px) {
    width: calc(100vw - 75px);
    left: 75px;
  }
  @media screen and (max-width: 767px){
    width: 100vw;
    left: 0;
  }
  ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  .toolbar-common {
    border-left: 1px solid #ebebeb;
    .nbd-main-menu {
      li.menu-item {
        padding: 2px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 24px;
          text-align: center;
        }
        &.item-stack {
          .sub-menu {
            min-width: 300px;
            ul {
              display: block;
              margin: 10px 0;
              li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:hover {
                  background-color: $menu-hover-color;
                }
                i {
                  margin-right: 10px;
                }
                span {
                  &.keyboard {
                    margin-left: auto;
                  }
                }
              }
            }

          }
        }
        &.item-position {
          padding: 2px 12px;
          .sub-menu {
            ul {
              display: flex;
              flex-wrap: wrap;
              padding: 5px 5px 10px 5px;
              li {
                flex: 1 1 25%;
                &.title {
                  flex: 1 1 100%;
                }

                i {
                  font-size: 24px;
                  cursor: pointer;
                }
              }
            }

          }
        }
      }

    }
  }

  .toolbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    .nbd-main-menu {
      &.menu-right {
        border-left: 1px solid #ebebeb;
        .menu-item {
          padding: 2px 7px;
          margin: 0 4px;
          border: 1px solid transparent;
          border-radius: 2px;

          i{
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: normal;
            height: 24px;
          }

          &:not(:first-child) {
            &:hover {
              border-color: #ebebeb;
            }
          }
          &.selected {
            background-color: #ebebeb;
          }
        }
        .sub-menu {
          min-width: auto;
          ul {
            display: flex;
            justify-content: space-around;
            margin: 5px 0;
            li {
              width: auto;
              cursor: pointer;
              &:hover {
                background-color: $menu-hover-color;
              }
              i {
                font-size: 24px;
              }
            }
          }
        }
        .item-spacing {
          .sub-menu {
            min-width: 250px;
          }
        }
      }
      &.menu-left {
        border-right: 1px solid #ebebeb;
        padding-right: 10px;
        .menu-item {
          padding: 0;
          margin: 0 10px;
          &.active{
            .toolbar-bottom {
              border: 1px solid #ebeced;
              background-color: #ebebeb;
            }
          }
          .toolbar-bottom {
            display: flex;
            justify-content: space-between;
            min-width: 150px;
            height: 30px;
            color: #3f4652;
            border-radius: 2px;
            align-items: center;
            padding: 2px 10px;
            font-size: 14px;
            outline: none;
            box-sizing: border-box;
            font-weight: 500;
            background-color: #fff;
            border: 1px solid #fff;
            transition: all 0.4s;
            input{
              background-color: transparent;
            }
            &:hover, &.active{
              border: 1px solid #ebeced;
            }
            i.icon-nbd {
              font-size: 12px;
              margin-left: 10px;
            }
            span {
              font-size: 14px;
            }
          }
          .toolbar-input {
            width: 30px;
            border: none;
            outline: none;
          }
          .sub-menu {
            > div {
              position: relative;
              max-height: 220px;
              overflow: hidden;
              ul {
                li {
                  padding: 0 10px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  &.chosen {
                    background-color: #ebebeb;
                  }
                  &:hover {
                    background-color: #ebebeb;
                  }
                }
              }
            }
          }
          &.item-font-size {
            .toolbar-bottom {
              min-width: 70px;
            }
            .sub-menu {
              min-width: 100px;
              ul {
                li {
                  padding: 10px;
                  i {
                    font-size: 21px;
                  }
                }
              }
            }
          }
        }
      }
      &.menu-center{

      }
    }
    #toolbar-font-size-dropdown {
      margin: 10px 0;
    }
  }
  .toolbar-menu-header {
    display: flex;
    .toolbar-header-line {
      background-color: rgba(63, 70, 82, .15);
      -ms-flex-positive: 1;
      flex-grow: 1;
      height: 1px;
      margin: auto;
    }
    .toolbar-separator {
      color: rgba(63, 70, 82, .4);
      font-size: 12px;
      font-weight: 500;
      margin: 8px 15px;
      min-width: 40px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .toolbar-font-search {
    margin-top: 10px;
    padding: 10px 15px;
    input {
      box-sizing: border-box;
      width: 100%;
      border-radius: 2px;
      outline: none;
      padding: 5px 10px;
      border: 1px solid #ebebeb;
      &:focus {
        border-color: #ddd;
      }
    }
  }
  #toolbar-font-familly-dropdown {
    margin-bottom: 10px;
  }
  .toolbar-image {
    .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 0;
      margin: 0 10px;
      i {
        margin-right: 5px;
      }
    }
    .filter-presets {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .filter-scroll {
        padding: 0;
        cursor: pointer;
        &.disable {
          i {
            opacity: 0.2;
          }
        }
        &:hover {
          i {
            color: $main-color;
          }
        }
        i {
          font-size: 28px;
        }
        &.scrollLeft {
          transform: rotate(90deg);
        }
        &.scrollRight {
          transform: rotate(-90deg);
        }
      }
      .container-presets {
        padding: 8px 0;
        .main-presets {
          display: flex;
          overflow: hidden;
          width: 342px;
          @media screen and (max-width: 767px){
            width: 280px;
            overflow-x: auto;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            &::-webkit-scrollbar {
              display: none;
            }
          }
          .preset {
            transition: all .1s;
            padding: 4px;
            transform: translateX(0);
            &.active {
              .image {
                border: 2px solid $main-color;
                transform: scale(1, 1);
              }
            }
            .image {
              padding: 2px;
              width: 62px;
              cursor: pointer;
            }
            .title {
              text-align: center;
              font-size: 9px;
              font-weight: 300;
              text-transform: uppercase;
              display: block;
              padding: 2px 0 0;
              margin: 0 -2px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
    .filter-ranges {
      padding: 20px 10px;
    }
  }
}

.nbd-main-product{
  .nbd-shadow-1dp {
    background: #fff;
    box-shadow: none;
    transition: all 0.4s;
    &:hover{
      box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    }
  }
}