.nbd-workspace{
  display: flex;
  max-width: 100%;
  min-height: calc(100vh - 54px);
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
  width: auto;
  margin: 54px 0 0 0;
  clear: both;
  .main {
    background-size: 16px;
    position: relative;
    width: calc(100vw - 420px);
    padding-top: 50px;
    left: 420px;
    top: 0;
    display: inline-block;
    height: calc(100vh - 54px);
    @media screen and (max-width: 1023px) {
      width: calc(100vw - 75px);
      left: 75px;
    }
    @media screen and (max-width: 767px) {
      width: calc(100vw);
      height: calc(100vh - 114px);
      left: 0;
      z-index: 10000001;
      opacity: 0;
      visibility: hidden;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .main-ranges {
    display: table;
    .range {
      display: table-row;
      height: 30px;
      label{
        display: table-cell;
        padding-right: 10px;
        text-align: right;
        text-transform: capitalize;
        white-space: nowrap;
        font-weight: normal;
        font-size: 12px;
      }

      .main-track{
        display: table-cell;
        position: relative;
        width: 100%;
        .slide-input {
          background-color: transparent;
          border: none;
          height: 7px;
          outline: none;
          padding: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 100;
          margin: 4px 0 0;
          -webkit-appearance: none;
          &::-webkit-slider-thumb{
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: $main-color;
            cursor: pointer;
            @media screen and (max-width: 767px){
              width: 20px;
              height: 20px;
            }
          }
          &::-moz-range-thumb{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: $main-color;
            cursor: pointer;
            @media screen and (max-width: 767px){
              width: 20px;
              height: 20px;
            }
          }
        }

        .range-track {
          background-color: #aaa;
          height: 2px;
          position: absolute;
          top: 7px;
          left: 0;
          width: 100%;
        }

        .snap-guide {
          position: absolute;
          border-left: 2px solid #aaa;
          left: 50%;
          top: 0;
          height: 12px;
          margin-top: 2px;
          z-index: 90;
        }
      }

      .value-display {
        display: table-cell;
        text-align: right;
        padding-left: 10px;
        min-width: 31px;
        font-size: 12px;
      }

    }
  }

}
