.v-toolbox-path {
  .nbd-color-palette {
    right: auto;
    left: 0;
  }
  .footer-box {
    .main-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      cursor: pointer;
    }
  }
}
