.v-toolbox {

  .header-box {
    padding: 10px;
  }

  .has-box-more {
    display: flex;
    margin-bottom: 10px;
    .link-breadcrumb {
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .link-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 3px;
        margin-left: 5px;
        border: 1px solid #ccc;
        border-radius: 2px;
        width: 28px;
        height: 28px;
        i{
          font-size: 18px;
          color: #ccc;
        }
        &.active{
          background: #ccc;
          i{
            color: #fff;
          }
        }
      }
    }
  }

  .main-box, .main-box-more {
    padding: 0 10px 10px;
    .toolbox-row{
      margin-bottom: 10px;
    }
  }
  .footer-box {
    border-top: 1px solid #ebebeb;
  }
  .v-assets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .v-asset {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border: 1px solid $main-color;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 2px;
      margin: 0;
      padding: 0;
      i {
        color: $main-color;
        font-size: 18px;
      }
      &:hover, &:active, &:focus {
        background-color: $menu-hover-color;
      }
      &.active {
        background-color: $menu-hover-color;
        i {
          font-weight: bold;
        }
      }
    }

    .v-asset {
      &-margin {
        margin-right: 5px;
        &:last-child{
          margin-right: 0;
        }
      }
      &-title {
        font-size: 12px;
        display: inline-block;
        color: #bbb;
      }
    }

  }
  .v-triangle {
    position: relative;
    &:after, &:before{
      left: 50%;
      transform: translateX(-50%);
    }
    &:before{
      border: 7px solid transparent;
      border-bottom: 7px solid #ebebeb;
      content: "";
      position: absolute;
      top: -15px;
    }
    &:after{
      border: 7px solid transparent;
      border-bottom: 7px solid #fff;
      content: "";
      position: absolute;
      top: -14px;
    }
    &[data-pos="left"]{
      &:after, &:before{
        left: 65%;
      }
    }
    &[data-pos="center"]{
      &:after, &:before{
        left: 50%;
      }
    }
  }
  .v-triangle-box {
    position: absolute;
    border: 7px solid transparent;
    border-bottom: 7px solid #ebebeb;
    content: "";
    top: -14px;
    transform: translateX(-50%);
    transition: all .3s;
    &:after{
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-bottom: 7px solid white;
      top: -6px;
      left: -7px;
    }
  }
  .toolbox-lock {
    .items {
      .item{
        &.active{
          i{
            color: red;
          }
        }
      }
    }
  }
  .v-toolbox-item {
    position: absolute;
    //top: 250px;
    border: 1px solid #ebebeb;
    min-width: 250px;
    border-radius: 2px;
    background: #fff;
    transition: visibility .2s, opacity .2s;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    transform: translateX(-50%);
    .link-back {
      display: none;
    }
    &.show-box-more {

      .main-box {
        display: none;
      }
      .main-box-more {
        display: block;
      }

      .link-back {
        display: inline-block;
      }
      .link-more {
        display: none;
      }
    }

    &.nbd-show{
      visibility: visible;
      opacity: 1;
    }
    @media screen and (max-width: 475px){
      //top: auto !important;
      //bottom: -50px !important;
      //left: 50% !important;
      //transform: translateX(-50%) !important;
    }
  }
  .v-btn {
    &.btn-color {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      box-shadow: none;
      padding: 5px;
      border: 1px solid #ebebeb;
      .color-selected {
        width: 85px;
        height: 24px;
        background-color: red;
        line-height: 1;
        border: 1px solid #e6e6e6;
      }
      i{
        color: $main-color;
        font-size: 16px;
        line-height: normal;
        margin-left: 10px;
      }
    }
  }
  @import "toolbox/toolbox-text";
  @import "toolbox/toolbox-image";
  @import "toolbox/toolbox-group";
  @import "toolbox/toolbox-path";
}