.v-toolbox {
  .header-box {
    padding: 10px;
  }
  .main-box {
    padding: 0 10px 10px;
    .toolbox-row{
      margin-bottom: 10px;
    }
  }
  .footer-box {
    border-top: 1px solid #ebebeb;
  }
  .v-assets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .v-asset {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border: 1px solid $main-color;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 2px;
      i{
        color: $main-color;
        font-size: 18px;
      }
      &:hover,&:active,&:focus{
        background-color: $menu-hover-color;
      }
      &.active{
        background-color: $menu-hover-color;
        i{
          font-weight: bold;
        }
      }
    }
    .v-asset-title {
      font-size: 12px;
      display: inline-block;
      color: #bbb;
    }
  }
  .v-triangle {
    position: relative;
    &:after, &:before{
      left: 50%;
      transform: translateX(-50%);
    }
    &:before{
      border: 7px solid transparent;
      border-bottom: 7px solid #ebebeb;
      content: "";
      position: absolute;
      top: -15px;
    }
    &:after{
      border: 7px solid transparent;
      border-bottom: 7px solid #fff;
      content: "";
      position: absolute;
      top: -14px;
    }
  }
  @import "toolbox/toolbox-text";
  @import "toolbox/toolbox-image";
}