.design-main {
  display: flex;
  flex-wrap: wrap;
}

.design-layer {
  width: 75%;
  position: relative;
  @media screen and (max-width: 991px) {
    width: 100%;
    height: calc(100% - 180px);
    .nbdpb-owl-nav {
      display: none;
    }
  }
  .design-finish {
    margin-bottom: 30px;
    text-align: center;
    @media screen and (max-width: 991px){
      display: none;
    }
  }
}

.design-sidebar {
  width: 25%;
  .design-finish {
    display: none;
  }
  @media screen and (max-width: 991px) {
    width: 100%;
    height: 180px;
    .design-finish {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

.design-stages {
  height: calc(100% - 90px);
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
  @media screen and (max-width: 991px){
    margin-bottom: 0;
    height: 100%;
    border-bottom: none;
  }
}

.design-admin-tool {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all .3s;
  &.nbdpb-show {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
  }
  .tools {
    display: flex;
    .tool-item {
      line-height: normal;
      padding: 5px 15px;
      border-right: 1px solid #ebebeb;
      &:last-child {
        border-right: none;
      }
    }
  }
}
