@import "patials/reset";
@import "patials/color-variables";
@import "patials/icons";
@import "library/perfect-scrollbar";

.nbd-vista {
  height: 580px;
  margin-bottom: 30px;
  // component
  @import "component/button";
  @import "component/dropdown";

  // patials
  @import "patials/global";
  @import "patials/toolbar";
  @import "patials/scrollbar";
  .v-workspace {
    height: 500px;
    display: flex;
    @import "patials/sidebar";
    @import "patials/layout";
  }
}