.nbd-rlt {
  &.nbd-mode-vista .v-workspace .v-layout .v-toolbox .v-toolbox-text .v-btn.btn-font-size i {
    margin-left: 0;
    margin-right: 30px;
  }

  &.nbd-mode-vista .v-workspace .v-layout .v-toolbox .v-toolbox-text .v-btn.btn-color i {
    margin-left: 0;
    margin-right: 10px;
  }

  &.nbd-mode-vista .v-workspace .v-layout .v-toolbox .v-toolbox-text .footer-box .items .item.item-reset {
    border-left: 1px solid #ebebeb;
    border-right: none;
  }
  &.nbd-mode-vista .v-workspace .v-layout .v-toolbox .v-toolbox-image .toolbox-first .toolbox-directional {
    margin: -28px 20px 0 0;
  }
  &.nbd-mode-vista .v-workspace .v-layout .v-toolbox .v-toolbox-image .toolbox-first .toolbox-general .items .item {
    margin-right: 0;
    margin-left: 10px;
  }
  &.nbd-mode-vista .v-workspace .v-layout .v-toolbox .v-assets {
    flex-direction: row-reverse;
  }
  &.nbd-mode-vista .nbd-text-color-picker {
    left: -25px;
  }
  &.nbd-mode-vista .nbd-text-color-picker .v-btn {
    margin-right: 10px;
    margin-left: 0;
  }
  &.nbd-mode-vista .v-workspace .v-sidebar .v-content .v-elements .result-loaded .content-items div[data-type=image-upload] .nbd-term .term-read {
    margin-right: 10px;
  }
  &.nbd-mode-vista .v-workspace .v-sidebar .v-content .v-elements .result-loaded .content-items div[data-type=image-url] .form-group .input-group button {
    border-radius: 3px 0 0 3px;
  }
  &.nbd-mode-vista .v-workspace .v-sidebar .v-content .v-elements .result-loaded .content-items div[data-type=image-upload] .allow-size span {
    text-align: right;
  }
  &.nbd-mode-vista .v-workspace .v-sidebar .v-content .v-elements .result-loaded .content-items div[data-type=image-upload] .allow-size {
    margin-right: 10px;
  }
  &.nbd-mode-vista .v-main-menu .v-menu-item {
    flex-direction: row-reverse;
  }
  &.nbd-mode-vista .nbd-toasts .toast {
    padding: 10px 20px 10px 45px;
  }
  &.nbd-mode-vista .nbd-toasts .toast i {
    left: 10px;
    right: auto;
  }

  &.nbd-mode-vista .v-layout {
    margin-right: 30px;
  }

}