.nbd-main-menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  li,button {
    span {
      font-size: 14px;
      cursor: pointer;
      user-select: none;
      color: #666;
      text-transform: capitalize;
    }
    &.menu-item{
      display: inline-block;
      padding: 15px;
      font-size: 14px;
      line-height:normal;
      cursor: pointer;
      user-select: none;
      position: relative;
      i.icon-nbd {
        font-size: 24px;
      }
    }
    &.active{
      .sub-menu {
        z-index: 1002;
        opacity: 1;
        visibility: visible;
        transform: scale(1);

        &[data-pos="center"]{
          transform: scale(1) translateX(-50%);
          &:after,&:before {
            transform: scale(1) translateX(-50%);
          }
        }
      }
    }
  }
  .sub-menu{
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    color: #3f4652;
    border-radius: 2px;
    min-width: 250px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    top: calc(100% + 9px);
    cursor: auto;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: scale(0.8);
    transition: all .3s;
    li {
      width: 100%;
      padding: 8px 18px;
      text-align: left;
      white-space: nowrap;
      display: block;
      position: relative;
      margin: 0;
      span {
        font-size: 13px;
        text-align: left;
        white-space: nowrap;
      }
    }

    &:after {
      border: 7px solid transparent;
      border-bottom: 7px solid #fff;
      content: "";
      position: absolute;
      top: -14px;
    }
    &:before{
      border: 7px solid transparent;
      border-bottom: 7px solid #ebebeb;
      content: "";
      position: absolute;
      top: -15px;
    }

    &[data-pos="left"]{
      left: -5px;
      &:after,&:before{
        left: 20px;
      }
    }

    &[data-pos="right"]{
      right: 5px;
      &:after,&:before{
        right: 10px;
      }
    }

    &[data-pos="center"]{
      left: 50%;
      transform: scale(0.8) translateX(-50%);
      &:after,&:before {
        left: 50%;
        transform: scale(0.8) translateX(-50%);
      }
    }

    .hover-menu{
      position: relative;
      .hover-sub-menu-item {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, .3);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: all .3s;
        border-radius: 2px;
        font-size: 13px;
        @media screen and (max-width: 767px) {
          bottom: 0;
          left: 0;
          transform: translateY(100%) !important;
          right: auto;
          top: auto;
        }
        span {
          font-size: 12px;
        }
      }

      &[data-animate="bottom-to-top"]{
        .hover-sub-menu-item{
          transform: translate(100%,50%);
        }
      }

      &[data-animate="top-to-bottom"]{
        .hover-sub-menu-item{
          transform: translate(100%,-50%);
        }
      }

      &[data-animate="left-to-right"]{
        .hover-sub-menu-item{
          transform: translateX(50%);
        }
      }
      &[data-animate="right-to-left"]{
        .hover-sub-menu-item{
          transform: translateX(-50%);
        }
      }
      &[data-animate="scale"]{
        .hover-sub-menu-item{
          transform: scale(0.8) translate(100%);
        }
      }

      &.show{
        .hover-sub-menu-item {
          visibility: visible;
          opacity: 1;
          z-index: 99;
          transform: translateX(100%);
        }
        &[data-animate="scale"]{
          .hover-sub-menu-item{
            transform: scale(1) translate(100%);
          }
        }
      }

    }

  }
  >li[data-overlay="overlay"] {
    &:after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      width: 0;
      height: 0;
      z-index: 99;
      opacity: 0;
      transition: opacity 250ms ease;
      cursor: default;
    }
    &.active{
      &:after {
        opacity: 1;
        width: 100vw;
        height: 100vw;
        @media screen and (max-width: 767px){
          height: 200vw;
          display: none;
        }
      }
    }

    .sub-menu {
      &:before{
        top: -14px;
      }
    }
  }

}
