.nbd-popup {
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100%;
  //background: rgba(0, 0, 0, .6);
  //z-index: -1;
  //opacity: 0;
  //visibility: hidden;
  //.main-popup {
  //  pointer-events: all;
  //  background-color: #fff;
  //  border-radius: 2px;
  //  box-shadow: 0 0 42px rgba(0, 0, 0, .15);
  //  box-sizing: border-box;
  //  display: inline-block;
  //  padding: 20px;
  //  text-align: left;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  width: 525px;
  //  transition: all .6s;
  //
  //}
  //&[data-animate="none"] {
  //  .main-popup {
  //    transform: translate(-50%, -50%);
  //  }
  //}
  //&[data-animate="bottom-to-top"] {
  //  .main-popup {
  //    transform: translate(-50%, 0);
  //  }
  //}
  //&[data-animate="top-to-bottom"] {
  //  .main-popup {
  //    transform: translate(-50%, -100%);
  //  }
  //}
  //&[data-animate="left-to-right"] {
  //  .main-popup {
  //    transform: translate(-100%, -50%);
  //  }
  //}
  //&[data-animate="right-to-left"] {
  //  .main-popup {
  //    transform: translate(50%, -50%);
  //  }
  //}
  //&[data-animate="scale"] {
  //  .main-popup {
  //    transform: scale(.8) translate(-50%, -50%);
  //  }
  //}
  //&[data-animate="fixed-top"] {
  //  .main-popup {
  //    top: 0;
  //    transform: translateX(-50%);
  //  }
  //}
  //&.show {
  //  opacity: 1;
  //  visibility: visible;
  //  z-index: 9999999;
  //  .main-popup {
  //    transform: translate(-50%, -50%);
  //  }
  //
  //  &[data-animate="scale"] {
  //    .main-popup {
  //      transform: scale(1) translate(-50%, -50%);
  //    }
  //  }
  //  &[data-animate="fixed-top"] {
  //    .main-popup {
  //      top: 100px;
  //    }
  //  }
  //
  //}

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  .main-popup {
    pointer-events: all;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 42px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    width: 525px;
    transition: all .6s;
    position: relative;
  }
  &.nb-show {
    opacity: 1;
    visibility: visible;
    z-index: 9999999;
  }
  &[data-animate="fixed-top"] {
    align-items: flex-start;
    .main-popup {
      transform: scale(.8);
      transition: all .3s;
      margin-top: 60px;
    }
    &.nb-show {
      .main-popup {
        transform: scale(1);
      }
    }
  }
  &[data-animate="scale"] {
    .main-popup {
      transform: scale(.8);
      transition: all .3s;
    }
    &.nb-show {
      .main-popup {
        transform: scale(1);
      }
    }
  }
  &[data-animate="bottom-to-top"] {
    .main-popup {
      transform: translate(0, 50%);
      transition: all .3s;
    }
    &.nb-show {
      .main-popup {
        transform: translate(0, 0);
      }
    }
  }
  &[data-animate="top-to-bottom"] {
    .main-popup {
      transform: translate(0, -50%);
      transition: all .3s;
    }
    &.nb-show {
      .main-popup {
        transform: translate(0, 0);
      }
    }
  }
  &[data-animate="left-to-right"] {
    .main-popup {
      transform: translate(-50%, 0);
      transition: all .3s;
    }
    &.nb-show {
      .main-popup {
        transform: translate(0, 0);
      }
    }
  }
  &[data-animate="right-to-left"] {
    .main-popup {
      transform: translate(50%, 0);
      transition: all .3s;
    }
    &.nb-show {
      .main-popup {
        transform: translate(0, 0);
      }
    }
  }


  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  .overlay-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .overlay-main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,1);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    &.active{
      z-index: 99;
      opacity: 1;
      visibility: visible;
      transition: unset;
    }
  }
  &.popup-share {
    .main-popup {
      .head {
        text-align: center;
        h2 {
          font-size: 21px;
          border-bottom: 1px solid #ebebeb;
          margin-bottom: 0;
          padding-bottom: 20px;
        }
      }
      .body {
        padding-top: 20px;
        .share-with {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 20px;
          span {
            margin-right: 20px;
          }

          ul.socials {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li.social {
              margin: 0 15px;
              i {
                font-size: 45px;
                border-radius: 50%;
                cursor: pointer;
              }

              &.facebook {
                i {
                  color: #3b5998;
                }
              }

              &.twitter {
                i {
                  color: #00aced;
                }
              }

              &.google-plus {
                i {
                  color: #d34836;
                }
              }
              &.active, &:hover {
              }
            }
          }
        }
        .share-content {
          textarea {
            border: solid 1px #ebebeb;
            border-radius: 2px;
            min-height: 78px;
            resize: none;
            padding: 10px 15px;
            box-sizing: border-box;
            outline: none;
            width: 100%;
            &:focus {
              border-color: #ccc;
            }
          }
        }
        .share-btn {
          margin-top: 20px;
          .nbd-button {
            border-radius: 2px;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
      .footer {
      }
    }
  }
  &.popup-webcam {
    .main-popup {
      width: 80%;
      min-height: 500px;
      display: flex;
    }
    .footer {
      align-self: flex-end;
    }
  }
  &.popup-keyboard {
    .tab-scroll{
      position: relative;
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      overflow: hidden;
    }
    .main-popup {
      padding: 0;
      .head {
        padding: 20px 20px 0;
        border-bottom: 1px solid #ebebeb;
      }
      .body {
        padding: 20px 10px;
        table {
          tr {
            td {
              padding: 3px 0;
              font-size: 12px;
              &.keys {
                padding-right: 10px;
                text-align: right;
                kbd {
                  display: inline-block;
                  padding-left: 2px;
                  height: 20px;
                  border: 1px solid #ddd;
                  text-align: center;
                  line-height: 20px;
                  padding-right: 2px;
                  border-radius: 3px;
                  color: #242729;
                  font-size: 11px;
                  margin-left: 5px;
                  min-width: 22px;
                  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #FFF inset;
                  background-color: #e1e3e5;
                }
              }
            }
          }
        }
      }
      .nbd-tabs {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .nbd-tab {
          padding: 5px 10px;
          cursor: pointer;
          -webkit-border-radius: 2px;
          //border: 1px solid #ebebeb;
          margin-right: 5px;
          border-bottom: none;
          border-radius: 2px 2px 0 0;
          &.active {
            border: 1px solid #ebebeb;
            margin-bottom: -1px;
            border-bottom: 1px solid#fff;
          }
        }
      }
      .nbd-tab-contents {
        min-height: 150px;
      }
    }
  }
  &.popup-select {
    background-color: transparent;
    .close-popup, i {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    .main-popup {
      width: auto;
      padding: 0;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
      .head {
        font-size: 21px;
        letter-spacing: .005em;
        box-sizing: border-box;
        font-weight: 400;
        width: 100%;
        padding: 15px 20px;
        margin: 0;
        color: #fff;
        background-color: $main-color;
      }
      .body {
        padding: 20px;
        .title {
          padding-bottom: 18px;
          display: block;
          max-width: 250px;
        }
        .main-select {
          display: flex;
          justify-content: space-between;
          .nbd-button {
            margin: 0;
            display: flex;
            justify-content: space-between;
            i{
              font-size: 18px;
            }
            &.select-no {
              background-color: #787d92;
            }
          }
        }
      }
    }
  }
}