
/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
@import "../icons/icons";
/*--------------------------------------------------------------


# Library
--------------------------------------------------------------*/
@import "../library/animate/index";


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
@import "global";


/*--------------------------------------------------------------
# component
--------------------------------------------------------------*/
@import "component/popup";

/*--------------------------------------------------------------
# App
--------------------------------------------------------------*/
.nbdpb-product-builder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*--------------------------------------------------------------
  # component
  --------------------------------------------------------------*/
  @import "component/variable";
  @import "component/reset";
  @import "component/buttom";
  @import "component/scrollbar";
  @import "component/carousel";

  /*--------------------------------------------------------------
  # Patials
  --------------------------------------------------------------*/
  @import "patials/design";
  @import "patials/stage";
  @import "patials/sidebar";
}