@keyframes nbSlideInDown {
  0% {
    transform: translate3d(0, 0%, 0);
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.nbSlideInDown {
  animation-name: nbSlideInDown;
}
