@font-face {
  font-family: 'nbd-vista';
  src:  url('fonts/nbd-vista.eot?nu00mb');
  src:  url('fonts/nbd-vista.eot?nu00mb#iefix') format('embedded-opentype'),
  url('fonts/nbd-vista.ttf?nu00mb') format('truetype'),
  url('fonts/nbd-vista.woff?nu00mb') format('woff'),
  url('fonts/nbd-vista.svg?nu00mb#nbd-vista') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="nbd-icon-vista-"], [class*=" nbd-icon-vista-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nbd-vista' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nbd-icon-vista-arrow-drop-down:before {
  content: "\e900";
}
.nbd-icon-vista-arrows:before {
  content: "\e901";
  color: #3f4652;
}
.nbd-icon-vista-bold:before {
  content: "\e902";
}
.nbd-icon-vista-expand-more:before {
  content: "\e903";
}
.nbd-icon-vista-group-work:before {
  content: "\e904";
}
.nbd-icon-vista-image:before {
  content: "\e905";
}
.nbd-icon-vista-italic:before {
  content: "\e906";
}
.nbd-icon-vista-more:before {
  content: "\e907";
}
.nbd-icon-vista-navigate-next:before {
  content: "\e908";
}
.nbd-icon-vista-proof:before {
  content: "\e909";
}
.nbd-icon-vista-redo:before {
  content: "\e90a";
}
.nbd-icon-vista-save:before {
  content: "\e90b";
}
.nbd-icon-vista-text:before {
  content: "\e90c";
}
.nbd-icon-vista-undo:before {
  content: "\e90d";
}
