.page-toolbar {
  width: 40px;
  position: absolute;
  top: calc(50% - 30px);
  right: -40px;
  transform: translateY(-50%);
  height: unset;
  margin: 0;
  @media screen and (max-width: 767px){
    height: auto;
    width: auto;
    background-color: #fff;
    transform: none;
    left: 0;
    right: 0;
    bottom: -30px;
    top: auto;
  }
  .page-main {
    height: 100%;
    text-align: center;
    @media screen and (max-width: 767px){
      background-color: #fff;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    }

    ul {
      list-style-type: none;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 767px) {
        flex-direction: row;
        align-items: center;
        li{
          display: flex;
          padding: 5px 10px;
        }
      }
      li {
        padding: 10px 0;
        cursor: pointer;
        &:hover {
          i {
            opacity: 1;
          }
        }
        &.disabled {
          &:hover {
            i {
              opacity: 0.5;
            }
          }
        }

        i {
          font-size: 24px;
          opacity: 0.5;
        }
        span {
          font-size: 18px;
        }
      }
    }
  }
}