.nbd-stages {
  width: 100%;
  height: 100%;
  .stages-inner {
    height: 100%;
    width: 100%;
    .stage {
      padding: 40px 50px 50px;
      .stage-main {
        box-shadow: 1px 0 10px rgba(0,0,0,.08);
        position: relative;
        background-color: #fff;
        margin: auto 0;
        .stage-background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .design-wrap {
          position: absolute;
          .design-zone, .stage-grid, .bounding-layers, .stage-snapLines, .stage-overlay,.stage-guideline {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          .stage-grid, .bounding-layers, .stage-snapLines, .stage-overlay,.stage-guideline{
            pointer-events: none;
          }
          .bounding-layers {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .bounding-layers-inner {
              position: relative;
              width: 100%;
              height: 100%;
              .bounding-rect{
                position: absolute;
                display: inline-block;
                visibility: hidden;
                top: -20px;
                left: -20px;
                width: 10px;
                height: 10px;
                border: 1px dashed #ddd;
                transform-origin: 0% 0%;
              }
              .layer-coordinates {
                position: absolute;
                display: inline-block;
                font-size: 9px;
                font-family: monospace;
                color: #404762;
                visibility: hidden;
                transform: translate(calc(-100% - 10px), calc(-100% + 5px));
                text-shadow: 1px 1px #fff;
              }
              .layer-angle{
                position: absolute;
                display: inline-block;
                font-family: monospace;
                color: #404762;
                visibility: hidden;
                text-shadow: 1px 1px #fff;
              }
            }
          }
          .stage-snapLines {
            .stage-snapLines-inner {
              position: relative;
              width: 100%;
              height: 100%;
              .h-snapline {
                top: -9999px;
                left: -20px;
                width: calc(100% + 40px);
                height: 3px !important;
                background-image: linear-gradient(to right, rgba(214, 96, 96, .95) 1px, transparent 1px);
                background-size: 2px 1px;
                background-repeat: repeat-x;
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .page-toolbar {
    width: 40px;
    position: absolute;
    top: calc(50% - 30px);
    right: -40px;
    transform: translateY(-50%);
    height: unset;
    margin: 0;
    @media screen and (max-width: 767px){
      height: auto;
      width: auto;
      background-color: #fff;
      transform: none;
      left: 0;
      right: 0;
      bottom: -30px;
      top: auto;
    }
    .page-main {
      height: 100%;
      text-align: center;
      @media screen and (max-width: 767px){
        background-color: #fff;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      }

      ul {
        list-style-type: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 767px) {
          flex-direction: row;
          align-items: center;
          li{
            display: flex;
            padding: 5px 10px;
          }
        }
        li {
          padding: 10px 0;
          cursor: pointer;
          &:hover {
            i {
              opacity: 1;
            }
          }
          &.disabled {
            &:hover {
              i {
                opacity: 0.5;
              }
            }
          }

          i {
            font-size: 24px;
            opacity: 0.5;
          }
          span {
            font-size: 18px;
          }
        }
      }
    }
  }


}